<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gestionnaire de tâches :-)</title>
</head>
<body>
    <h1>Gestionnaire de tâches :-)</h1>
    <ul>
            <form action="./src/remove.php" method="post">


                <?php

                    for ($i = 0; $i < count($taskList); $i ++){
                        $taskId = "task" . ($i +1);
                        echo ('<li><input type="checkbox" id="' . $taskId .'" value="' . $taskId . '">');

                        for ($j = 0; $j < count($taskList[$i]); $j ++){
                        echo ('<p>' . $taskList[$i][$j] . '</p>'  );
                        }

                        echo ('</li>');

                    }

                ?>

                <li>
                    <input type="submit" value="Supprimer"/>
                </li>
            </form>

    </ul>
    <form class="taches" action="./src/add.php" method="post">
        <fieldset>
            <legend>Information sur la tâche</legend>
            <ul>
                <li><label for="title">Titre : </label><input type="text" name="title" id="title" /></li>
                <li><label for="task">Tâche : </label><textarea name="task" id="task" rows="8" cols="80"></textarea></li>
                <li><label>Date de fin :</label>
                    <select name="day" size="1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select> /
                    <select name="month" size="1">
                        <option>janvier</option>
                        <option>fevrier</option>
                        <option>mars</option>
                    </select> /
                    <select class="year" name="1">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                </li>
                <li><label>Priorité :</label>
                    <input type="radio" name="priorite" id="basse" />
                    <label for="basse"> Basse</label>
                    <input type="radio" name="priorite" id="normal"/>
                    <label for="normal"> Normale</label>
                    <input type="radio" name="priorite"id="haute"/>
                    <label for="haute"> Haute</label>
                </li>
                <li>
                    <input type="submit" value="Ajouter" />
                </li>
            </ul>
        </fieldset>
    </form>
</body>
</html>